{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "globals": {
    "document": true,
    "navigator": true,
    "window": true,
    "node": true
  },
  "extends": "airbnb-base/legacy",
  "plugins": ["import"],
  // 定义自己的规则
  "rules": {
    "comma-dangle": ["error", "never"],
    "indent": ["error", 2]
  }
}
