<ul class="timeline">
    <li ng-repeat="row in $ctrl.rows" ng-class="{'timeline-item':true,'timeline-item-active':!!$ctrl.data[$index],'timeline-item-active-last':$ctrl.data.length-1===$index}">
        <div class="timeline-item-tail"></div>
        <div class="timeline-item-head"></div>
        <div class="timeline-item-content">
            <p class="timeline-item-content-title">{{row.title}}</p>
            <p ng-if="!!row.hint && !$ctrl.data[$index]">{{row.hint}}</p>
            <p ng-if="$ctrl.data[$index].time">{{$ctrl.data[$index].time}}</p>
            <p ng-if="$ctrl.data[$index].hint">{{$ctrl.data[$index].hint}}</p>
        </div>
    </li>
</ul>
